<?xml version="1.0"?>
<launch>

	<node name="desktop_pos_creator" pkg="projet_fetch" type="desktop_pos_creator.py" output="screen" />
	  <!-- Map server -->
	  <!--<arg name="map_file" default="$(env TURTLEBOT_MAP_FILE)"/> -->
	  <arg name="map_file" default="/home/bot/catkin_ws/src/projet_fetch/map/Lahure.yaml"/>
	  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

 
  	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find projet_fetch)/rviz/navigation.rviz"/>

	<node name="get_desktop_coord" pkg="projet_fetch" type="send_coord_desktop_to_supress.py" />


	<!--<node name="projet_fetch" pkg="projet_fetch" type="move_to.py"  />-->
</launch>

