<?xml version="1.0"?>
<launch>

	<!-- Desktop data manager -->
	<node name="desktop_pos_creator" pkg="projet_fetch" type="desktop_pos_creator.py" output="screen" />
	
	<!-- Map server - Get the map needed -->
	<arg name="map_name" default="rosbag_map.yaml"/>
	<node name="map_server" pkg="map_server" type="map_server" args="$(find projet_fetch)/map/$(arg map_name)" />

 	<!-- Open rviz well configured -->
  	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find projet_fetch)/rviz/desktop_manager.rviz"/>

	<!-- Desktop marker publisher -->
	<node name="desktop_marker" pkg="projet_fetch" type="desktop_pos_markers.py" />

	<!-- Get desktop coord to supress -->
	<node name="get_desktop_coord" pkg="projet_fetch" type="send_coord_desktop_to_supress.py" />

</launch>

