<?xml version="1.0"?>
<launch>
	<!-- Parametres de lancement -->
	<arg name="avoid" default="true"/>
	<arg name="web_app" default="true"/>

	<!-- Connection au robot --> 
	<include file="$(find turtlebot_bringup)/launch/minimal.launch" />
	
	<!--Activation du noeud correspondant aux donnees laser -->
	<node pkg="urg_node" type="urg_node" name="urg_node" />
	
	<!--Placement du laser par rapport a la frame du robot--> 
	<node pkg="tf" type="static_transform_publisher" name="add_laser_to_baselink" args="0.13 0 0.13 0 0 0 base_link laser 100"/>

	  <!-- Map server -->
	  <!--<arg name="map_file" default="$(env TURTLEBOT_MAP_FILE)"/> -->
	  <arg name="map_file" default="/home/bot/catkin_ws/src/projet_fetch/map/Lahure.yaml"/>
	  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

	  <!-- AMCL (Position du robot dans la map et quelques parametres) -->
	  <include file="$(find projet_fetch)/launch/includes/amcl/r200_amcl.launch.xml">
	    <!-- Configuration de la position initiale du robot --> 
	    <arg name="initial_pose_x" value="1.0"/>
	    <arg name="initial_pose_y" value="-1.0"/>
	    <arg name="initial_pose_a" value="1.5"/>
	  </include>
	
	  <!-- Gestion du path calculator et des donnees de la map --> 
	  <include file="$(find projet_fetch)/launch/includes/move_base.launch.xml"/> 
	
 	<!-- Ouverture de rviz avec les bons parametres d'affichage -->
  	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find projet_fetch)/rviz/navigation.rviz"/>

	<!-- Node de gestion de la vitesse avec recuperation des points objectifs -->
	<node name="move_to" pkg="projet_fetch" type="move_to.py"  />

	<!-- Node de gestion des obstacles locaux => Peut etre active ou non -->
	<group if="$(arg avoid)">
		<node name="local_avoid" pkg="projet_fetch" type="local_avoidance.py"  />
	</group>

	<group if="$(arg web_app)">
		<!-- Desktop name Publisher -->
		<node pkg="projet_fetch" type="desktop_name_publisher.py" name="desktop_name_publisher"/>

		<!-- Run the web application -->
		<node pkg="turtlebot_web" type="run.sh" name="web_app" />

		<!-- Destop coordinate Publisher -->
		<node pkg="projet_fetch" type="get_and_send_desktop_to_reach.py" name="desktop_coord_publisher" />
	</group>	
	
</launch>

