<?xml version="1.0"?>
<launch>

	<!-- Desktop name Publisher -->
	<node pkg="projet_fetch" type="desktop_name_publisher.py" name="desktop_name_publisher"/>

	<!-- Run the web application -->
	<node pkg="turtlebot_web" type="run.sh" name="web_app" />

	<!-- Desktop data publisher -->
	<node pkg="projet_fetch" type="web_desktop_data.py" name="get_desktop_data" />

	<!-- Supress desktop data-->
	<node pkg="projet_fetch" type="web_desktop_erase.py" name="supress_desktop"/>

	<!-- Ajouter ici les nodes de gestion du robot et d ouverture de rviz etc... --> 

</launch>
