<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- launch minimal -->
  <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
  <!-- laser -->
  <node pkg="urg_node" type="urg_node" name="urg_node">
    <param name="angle_min" value="-1.6"/>
    <param name="angle_max" value="1.6"/>
  </node>
  <!-- conversion laser transform -->
  <node pkg="tf" type="static_transform_publisher" name="laser_in_base_link" args="0.03 0.0 0.0 0.0 0.0 0.0 /base_link /laser 100"/>
  <!-- map -->
  <arg name="map_file" default="$(find projet_fetch)/map/rosbag_map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  <!-- grid to vmap convertion -->
  <!-- <node pkg="torob" type="map_to_vmap" name="torob_vmap">
    <arg name="_map_topic" value="/map"/>
  </node> -->
  <!-- amcl -->

  <!-- web -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
</launch>
